@use "sass:math";
@use "variables" as *;

//==================================================
//	Privacy Policy
//==================================================
.sect_privacy-policy{
	hgroup h1{
		&::before{
			top: 0%;
			left: -40%;
			@include media(sm){
				left: -25%;
			}
		}
	}

	.inner{
		h3{
			margin-bottom: rem(20);
			display: flex;
			align-items: baseline;
			font-size: rem(18);
			line-height: 1.4em;
			gap: rem(4);
			&::before{
				content: '';
				display: block;
				margin-top: -0.1em;
				width: 1rem;
				height: 1rem;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;
				background-image: url(../images/common/circle01.svg);
			}
		}
		p, ul{
			margin-bottom: rem(40);
			color: $Text-400;
		}
		ul{ line-height: 1.5em; }
		p + ul{
			margin-top: rem(-20);
		}

	@include media(lg){
		h3{ font-size: rem(20); }
		// ul{ font-size: rem(18); }
	}
	}
}

//==================================================
//	Document
//==================================================
.sect_document{
	hgroup h1{
		&::before{
			top: 0;
			left: -40%;
			@include media(sm){
				left: -25%;
			}
		}
	}

	.box_contents{
		padding-left: 0;
		list-style: none;
		li{
			border-bottom: 1px dashed $Text-100;
			p{
				line-height: 1.5em;
				>small{
					color: $Text-400;
					&::before{
						content: '-';
						display: inline;
						padding: 0 rem(4);
					}
				}
			}
			a{
				display: flex;
				align-items: center;
				gap: 4px;
				font-size: rem(14);
				font-weight: 500;
				&::before{
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background: url(../images/icon/pdf_line.svg) 50% 50% no-repeat;
					background-size: contain;
				}
			@include media(lg){
				font-size: rem(15);
			}
			}
		}
	}
}

.sect_nopage{
	hgroup h1{
		&::before{
			top: 0;
			left: -40%;
			@include media(sm){
				left: -25%;
			}
		}
	}
}
