@use "sass:math";
@use "variables" as *;

//==================================================
//	Topics
//==================================================
.sect_topics{
	hgroup h1{
		&::before{
			left: 80%;
		}
	}
	ul{
		padding-left: 0;
		list-style-type: none;
		li{
			border-bottom: 1px solid rgba($Brown-400, .15);
			&:first-child{
				border-top: 1px solid rgba($Brown-400, .15);
			}
			a{
				display: block;
				padding-right: 32px;
				text-decoration: none;
				position: relative;
				.ttl{
					color: $Blue;
					text-decoration: underline;
				}
				&::after{
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" viewBox="0 0 16 24" fill="none"><path d="M8.94626 12L4.87301 7.92701C4.73468 7.78851 4.66385 7.61443 4.66051 7.40476C4.65735 7.19526 4.72818 7.01801 4.87301 6.87301C5.01801 6.72818 5.19368 6.65576 5.40001 6.65576C5.60634 6.65576 5.78201 6.72818 5.92701 6.87301L10.4213 11.3673C10.5148 11.4609 10.5808 11.5597 10.6193 11.6635C10.6578 11.7673 10.677 11.8795 10.677 12C10.677 12.1205 10.6578 12.2327 10.6193 12.3365C10.5808 12.4403 10.5148 12.5391 10.4213 12.6328L5.92701 17.127C5.78851 17.2653 5.61443 17.3362 5.40476 17.3395C5.19526 17.3427 5.01801 17.2718 4.87301 17.127C4.72818 16.982 4.65576 16.8063 4.65576 16.6C4.65576 16.3937 4.72818 16.218 4.87301 16.073L8.94626 12Z" fill="%23A8AABC"/></svg>') 50% 50% no-repeat;
					background-size: contain;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					transition: all 0.2s;
				}
				&:hover{
					.ttl{
						color: $Blue-on;
						text-decoration: none;
					}
					&::after{
						background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" viewBox="0 0 16 24" fill="none"><path d="M8.94626 12L4.87301 7.92701C4.73468 7.78851 4.66385 7.61443 4.66051 7.40476C4.65735 7.19526 4.72818 7.01801 4.87301 6.87301C5.01801 6.72818 5.19368 6.65576 5.40001 6.65576C5.60634 6.65576 5.78201 6.72818 5.92701 6.87301L10.4213 11.3673C10.5148 11.4609 10.5808 11.5597 10.6193 11.6635C10.6578 11.7673 10.677 11.8795 10.677 12C10.677 12.1205 10.6578 12.2327 10.6193 12.3365C10.5808 12.4403 10.5148 12.5391 10.4213 12.6328L5.92701 17.127C5.78851 17.2653 5.61443 17.3362 5.40476 17.3395C5.19526 17.3427 5.01801 17.2718 4.87301 17.127C4.72818 16.982 4.65576 16.8063 4.65576 16.6C4.65576 16.3937 4.72818 16.218 4.87301 16.073L8.94626 12Z" fill="%230016e0"/></svg>');
					}
				}
			}
		@include media(lg){
			p{ font-size: 1rem; }
		}
		}
	}

	.wp-pagenavi{
		display: flex;
		justify-content: center;
		gap: 1rem;

		.current{
			color: $Text-400;
		}
		a{
			&.nextpostslink{
				display: flex;
				align-items: center;
				gap: 0.25rem;
				&::after{
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.2558 4.69667L16.97 9.41083C17.1262 9.56711 17.214 9.77903 17.214 10C17.214 10.221 17.1262 10.4329 16.97 10.5892L12.2558 15.3033C12.0987 15.4551 11.8882 15.5391 11.6697 15.5372C11.4512 15.5353 11.2422 15.4477 11.0877 15.2932C10.9331 15.1387 10.8455 14.9297 10.8436 14.7112C10.8417 14.4927 10.9257 14.2822 11.0775 14.125L14.3692 10.8333H3.33333C3.11232 10.8333 2.90036 10.7455 2.74408 10.5893C2.5878 10.433 2.5 10.221 2.5 10C2.5 9.77899 2.5878 9.56703 2.74408 9.41075C2.90036 9.25447 3.11232 9.16667 3.33333 9.16667H14.3692L11.0775 5.875C10.9979 5.79813 10.9344 5.70617 10.8907 5.6045C10.8471 5.50283 10.8241 5.39348 10.8231 5.28284C10.8222 5.17219 10.8432 5.06245 10.8851 4.96004C10.927 4.85763 10.9889 4.76458 11.0672 4.68634C11.1454 4.60809 11.2385 4.54622 11.3409 4.50432C11.4433 4.46242 11.553 4.44133 11.6637 4.44229C11.7743 4.44325 11.8837 4.46624 11.9853 4.50992C12.087 4.55359 12.179 4.61708 12.2558 4.69667Z" fill="%23000F94"/></svg>');
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			&.previouspostslink{
				display: flex;
				align-items: center;
				gap: 0.25rem;
				&::before{
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					transform: rotate(180deg);
					background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.2558 4.69667L16.97 9.41083C17.1262 9.56711 17.214 9.77903 17.214 10C17.214 10.221 17.1262 10.4329 16.97 10.5892L12.2558 15.3033C12.0987 15.4551 11.8882 15.5391 11.6697 15.5372C11.4512 15.5353 11.2422 15.4477 11.0877 15.2932C10.9331 15.1387 10.8455 14.9297 10.8436 14.7112C10.8417 14.4927 10.9257 14.2822 11.0775 14.125L14.3692 10.8333H3.33333C3.11232 10.8333 2.90036 10.7455 2.74408 10.5893C2.5878 10.433 2.5 10.221 2.5 10C2.5 9.77899 2.5878 9.56703 2.74408 9.41075C2.90036 9.25447 3.11232 9.16667 3.33333 9.16667H14.3692L11.0775 5.875C10.9979 5.79813 10.9344 5.70617 10.8907 5.6045C10.8471 5.50283 10.8241 5.39348 10.8231 5.28284C10.8222 5.17219 10.8432 5.06245 10.8851 4.96004C10.927 4.85763 10.9889 4.76458 11.0672 4.68634C11.1454 4.60809 11.2385 4.54622 11.3409 4.50432C11.4433 4.46242 11.553 4.44133 11.6637 4.44229C11.7743 4.44325 11.8837 4.46624 11.9853 4.50992C12.087 4.55359 12.179 4.61708 12.2558 4.69667Z" fill="%23000F94"/></svg>');
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			&.nextpostslink:hover::after,
			&.previouspostslink:hover::before{
				background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.2558 4.69667L16.97 9.41083C17.1262 9.56711 17.214 9.77903 17.214 10C17.214 10.221 17.1262 10.4329 16.97 10.5892L12.2558 15.3033C12.0987 15.4551 11.8882 15.5391 11.6697 15.5372C11.4512 15.5353 11.2422 15.4477 11.0877 15.2932C10.9331 15.1387 10.8455 14.9297 10.8436 14.7112C10.8417 14.4927 10.9257 14.2822 11.0775 14.125L14.3692 10.8333H3.33333C3.11232 10.8333 2.90036 10.7455 2.74408 10.5893C2.5878 10.433 2.5 10.221 2.5 10C2.5 9.77899 2.5878 9.56703 2.74408 9.41075C2.90036 9.25447 3.11232 9.16667 3.33333 9.16667H14.3692L11.0775 5.875C10.9979 5.79813 10.9344 5.70617 10.8907 5.6045C10.8471 5.50283 10.8241 5.39348 10.8231 5.28284C10.8222 5.17219 10.8432 5.06245 10.8851 4.96004C10.927 4.85763 10.9889 4.76458 11.0672 4.68634C11.1454 4.60809 11.2385 4.54622 11.3409 4.50432C11.4433 4.46242 11.553 4.44133 11.6637 4.44229C11.7743 4.44325 11.8837 4.46624 11.9853 4.50992C12.087 4.55359 12.179 4.61708 12.2558 4.69667Z" fill="%230016e0"/></svg>');
			}
		}
	}
}

.sect_post{
	hgroup h1{
		&::before{
			left: 80%;
		}
	}
	.post{
		.hd_post{
			&_ttl{
				color: $Text-400;
				font-size: rem(20);
				font-weight: 600;
			}
		}
		.post_content{
			color: $Text-400;
			*+p{ margin-top: 1rem; }
			img{
				margin: 1rem 0;
				border-radius: rem(20);
			}
		}
		.post_link{
			.previous a, .next a{
				display: flex;
				align-items: center;
				gap: 0.25rem;
			}
			.next a{
				&::before{
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					transform: rotate(180deg);
					background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.2558 4.69667L16.97 9.41083C17.1262 9.56711 17.214 9.77903 17.214 10C17.214 10.221 17.1262 10.4329 16.97 10.5892L12.2558 15.3033C12.0987 15.4551 11.8882 15.5391 11.6697 15.5372C11.4512 15.5353 11.2422 15.4477 11.0877 15.2932C10.9331 15.1387 10.8455 14.9297 10.8436 14.7112C10.8417 14.4927 10.9257 14.2822 11.0775 14.125L14.3692 10.8333H3.33333C3.11232 10.8333 2.90036 10.7455 2.74408 10.5893C2.5878 10.433 2.5 10.221 2.5 10C2.5 9.77899 2.5878 9.56703 2.74408 9.41075C2.90036 9.25447 3.11232 9.16667 3.33333 9.16667H14.3692L11.0775 5.875C10.9979 5.79813 10.9344 5.70617 10.8907 5.6045C10.8471 5.50283 10.8241 5.39348 10.8231 5.28284C10.8222 5.17219 10.8432 5.06245 10.8851 4.96004C10.927 4.85763 10.9889 4.76458 11.0672 4.68634C11.1454 4.60809 11.2385 4.54622 11.3409 4.50432C11.4433 4.46242 11.553 4.44133 11.6637 4.44229C11.7743 4.44325 11.8837 4.46624 11.9853 4.50992C12.087 4.55359 12.179 4.61708 12.2558 4.69667Z" fill="%23000F94"/></svg>');
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			.previous a{
				&::after{
					content: '';
					display: block;
					width: 20px;
					height: 20px;
					background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.2558 4.69667L16.97 9.41083C17.1262 9.56711 17.214 9.77903 17.214 10C17.214 10.221 17.1262 10.4329 16.97 10.5892L12.2558 15.3033C12.0987 15.4551 11.8882 15.5391 11.6697 15.5372C11.4512 15.5353 11.2422 15.4477 11.0877 15.2932C10.9331 15.1387 10.8455 14.9297 10.8436 14.7112C10.8417 14.4927 10.9257 14.2822 11.0775 14.125L14.3692 10.8333H3.33333C3.11232 10.8333 2.90036 10.7455 2.74408 10.5893C2.5878 10.433 2.5 10.221 2.5 10C2.5 9.77899 2.5878 9.56703 2.74408 9.41075C2.90036 9.25447 3.11232 9.16667 3.33333 9.16667H14.3692L11.0775 5.875C10.9979 5.79813 10.9344 5.70617 10.8907 5.6045C10.8471 5.50283 10.8241 5.39348 10.8231 5.28284C10.8222 5.17219 10.8432 5.06245 10.8851 4.96004C10.927 4.85763 10.9889 4.76458 11.0672 4.68634C11.1454 4.60809 11.2385 4.54622 11.3409 4.50432C11.4433 4.46242 11.553 4.44133 11.6637 4.44229C11.7743 4.44325 11.8837 4.46624 11.9853 4.50992C12.087 4.55359 12.179 4.61708 12.2558 4.69667Z" fill="%23000F94"/></svg>');
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			.next a:hover::before,
			.previous a:hover::after{
				background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M12.2558 4.69667L16.97 9.41083C17.1262 9.56711 17.214 9.77903 17.214 10C17.214 10.221 17.1262 10.4329 16.97 10.5892L12.2558 15.3033C12.0987 15.4551 11.8882 15.5391 11.6697 15.5372C11.4512 15.5353 11.2422 15.4477 11.0877 15.2932C10.9331 15.1387 10.8455 14.9297 10.8436 14.7112C10.8417 14.4927 10.9257 14.2822 11.0775 14.125L14.3692 10.8333H3.33333C3.11232 10.8333 2.90036 10.7455 2.74408 10.5893C2.5878 10.433 2.5 10.221 2.5 10C2.5 9.77899 2.5878 9.56703 2.74408 9.41075C2.90036 9.25447 3.11232 9.16667 3.33333 9.16667H14.3692L11.0775 5.875C10.9979 5.79813 10.9344 5.70617 10.8907 5.6045C10.8471 5.50283 10.8241 5.39348 10.8231 5.28284C10.8222 5.17219 10.8432 5.06245 10.8851 4.96004C10.927 4.85763 10.9889 4.76458 11.0672 4.68634C11.1454 4.60809 11.2385 4.54622 11.3409 4.50432C11.4433 4.46242 11.553 4.44133 11.6637 4.44229C11.7743 4.44325 11.8837 4.46624 11.9853 4.50992C12.087 4.55359 12.179 4.61708 12.2558 4.69667Z" fill="%230016e0"/></svg>');
			}
		}
	@include media(lg){
		.hd_post{
			&_ttl{ font-size: rem(24); }
		}
		.post_content,
		.post_link{
			font-size: rem(18);
		}
		.post_content{
			*+p{ margin-top: 2rem; }
			img, ul, ol{
				margin: 2rem 0;
			}
		}
	}
	}
}
