/*==================================================
	variables
================================================== */
@use "sass:math";
@use "sass:map";
@use "sass:color";

// font
$font : "IBM Plex Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, "Helvetica Neue", Arial, sans-serif;
$fn-Manrope : "Manrope", sans-serif;
$fn-Fredoka : "Fredoka", sans-serif;

// color
$White: #fff;
$Black : #1F2D37;
$Text-500: #262B58;
$Text-400: #515579;
$Text-100: #D4D5DE;
$BG-color: #FBFAF5;
$Blue: #000F94;
$Blue-on: #0016e0;
$Brown-500: #472C38;
$Brown-400: #605259;

$Pink: #FA66A9;
$Orange: #FA9155;
$Candy-Corn: #FAE955;
$Sulu: #BDFA66;
$Scooter: #26C8D2;
$Picton-Blue: #54C0F9;

// Breakpoint
$breakpoints:(
	xs : 30rem,	//480px
	sm : 40rem,	//640px
	md : 48rem,	//768px
	lg : 64rem,	//1024px
	xl : 80rem,	//1280px
	xxl : 96rem	//1536px
);

$baseFontsize : 16;

/*-------------------
	MediaQuery
	---
	@include media(X)
------------------- */
@mixin media($breakpoint){
	@media (width >= #{map.get($breakpoints, $breakpoint)}){
		@content;
	}
}

/*-------------------
	Rem
	---
	rem(x)
------------------- */
@function rem($pixel, $context: $baseFontsize){
	@return math.div($pixel, $context) * 1rem;
}


@keyframes fluidrotate01 {
	0%, 100% {
		border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
	}
	14% {
		border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
	}
	28% {
		border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
	}
	42% {
		border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
	}
	56% {
		border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
	}
	70% {
		border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
	}
	84% {
		border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
	}
}
@keyframes fluidrotate02 {
	0%, 100% {
		border-radius: 49% 51% 49% 51% / 52% 50% 50% 48%;
	}
	14% {
		border-radius: 44% 56% 39% 61% / 55% 48% 52% 45%;
	}
	28% {
		border-radius: 53% 47% 46% 54% / 59% 48% 52% 41%;
	}
	42% {
		border-radius: 45% 55% 38% 62% / 63% 38% 62% 37%;
	}
	56% {
		border-radius: 36% 64% 44% 56% / 47% 38% 62% 53%;
	}
	70% {
		border-radius: 40% 60% 47% 53% / 42% 53% 47% 58%;
	}
	84% {
		border-radius: 37% 63% 44% 56% / 51% 52% 48% 49%;
	}
}
